{embed="wrappers/internal"}

{exp:channel:entries channel='endorsements' limit="1" disable="categories|category_fields|member_fields|pagination" status="open" dynamic="no"}

	{exp:stash:set name="title"}{title}{/exp:stash:set}

	{exp:stash:set name="content"}
			<div class="threecol"></div>
			<div class="sixcol body-content">
				<h2>{title}</h2>
				<div class="wide">
				{basic_body}
				</div>
			</div>
	{/exp:stash:set}

{/exp:channel:entries}

{!--{exp:stash:set name="js_links"}
	<script src="{site_url}themes/site_themes/default_site/js/jquery.columnizer.min.js" type="text/javascript" charset="utf-8"></script>
{/exp:stash:set}
	
{exp:stash:set name="js"}
	<script>
	$(function(){
		var width = $(window).width();
		$('h2').addClass('dontend');
		$('h3').addClass('dontend');
		if(width > 767) {
			$('.wide').columnize({
				columns: 2,
				buildOnce: false
			});
		} else {
			$('.wide').columnize({
				columns: 1,
				buildOnce: false
			});
		}
	});
	$(window).resize(function(){
		var width = $(window).width();
		$('div.column').contents().unwrap();
		if(width > 767) {
			$('.wide').columnize({
				columns: 2,
				buildOnce: false
			});
		} else {
			$('.wide').columnize({
				columns: 1,
				buildOnce: false
			});
		}
	});
	</script>
{/exp:stash:set}--}