{embed="wrappers/internal"}

{exp:channel:entries channel='team' limit="1" disable="categories|category_fields|member_fields|pagination" status="open" orderby="date" sort="asc"}

	{exp:stash:set name="title"}{title}{/exp:stash:set}

	{exp:stash:set name="content"}
			<div class="threecol left-img">
			{exp:channel_images:images entry_id="{entry_id}" field="team_image"}
			{if image:no_images}{/if}
				<img src="{image:url:medium}" alt="{image:title}" />
			{/exp:channel_images:images}
			</div>
			<div class="sixcol body-content">
				<h2>{title}</h2>
				{team_description}
			</div>
	{/exp:stash:set}

{/exp:channel:entries}

{exp:stash:set name="team_menu"}
	<div class="team-container">
		<ul id="team" class="team">
		{exp:channel:entries channel='team' limit="6" disable="categories|category_fields|member_fields|pagination" status="open" dynamic="no" orderby="date" sort="asc"}
		<li><a href="{title_permalink="about/team"}">
			{exp:channel_images:images entry_id="{entry_id}" field="team_image"}
				<img src="{image:url:small}" alt="{image:title}" />			
			{/exp:channel_images:images}
			</a></li>
		{/exp:channel:entries}
		</ul>
	</div>
{/exp:stash:set}


{exp:stash:set name="js"}
		<script>
			function find_top_margin (x) {

		    //get the hieght of the parent  
		    var parent_height = $(x).parent().height();  
		  
		    //get the height of the image  
		    var image_height = $(x).height();  
		    
		    //calculate how far from top the image should be  
		    var top_margin = (parent_height - image_height)/2;  

				return top_margin;				
			}
			function find_left_margin (x) {

		    //get the width of the parent  
		    var parent_width = $('#team').parent().width();  
		  
		    //get the width of the image  
		    var image_width = $('#team').width();  


		    //calculate how far from left the image should be  
		    var left_margin = (parent_width - image_width)/2;  

				return left_margin;				
			}
			$(window).load(function(){
/* 		    $('#team').css( 'margin-top' , find_top_margin ('#team'));   */
		    $('#team').css( 'margin-left' , find_left_margin ('#team'));  
			});
			$(window).resize(function() {
/* 		    $('#team').css( 'margin-top' , find_top_margin ('#team'));   */
		    $('#team').css( 'margin-left' , find_left_margin ('#team'));  
			});		
		</script>
{exp:stash:set}