{embed="wrappers/internal"}

{exp:channel:entries channel='the_whys' limit="1" disable="categories|category_fields|member_fields|pagination" status="open" dynamic="no"}

	{exp:stash:set name="title"}{title}{/exp:stash:set}

	{exp:stash:set name="content"}
			<div class="threecol left-img">
			{exp:channel_images:images entry_id="{entry_id}" field="basic_image"}
			{if image:no_images}{/if}
				<img src="{image:url:normal}" alt="{image:title}" />
			{/exp:channel_images:images}
			</div>
			<div class="sixcol body-content">
				<h2>{title}</h2>
				{basic_body}
			</div>
	{/exp:stash:set}

{/exp:channel:entries}