											<a href="{path="blog/subscribe}" class="subscribe-btn">Subscribe</a>
											<ul class="cat-list">	
												<li><a href="{path="blog/}">All Posts</a></li>
											{exp:gwcode_categories channel="blog" style="linear" depth="1" entry_count="yes"}
												<li><a href="{path="blog/category/{cat_url_title}}"> {cat_name}</a> ({entry_count})</li>
											{/exp:gwcode_categories}
											</ul>
											<hr />
											{exp:low_yearly_archives channel="blog" status="open" sort="desc" monthsort="asc"}
												{if year_count == 1}<ul class="archive-list">{/if}
													<li><a class="year" href="#">{year}</a>
														<ul class="months">
													    {months}
													      <li>
													      {if num_entries != 0}
													        <a href="{path=blog/archive}/{year}/{month_num}/"
													           title="{num_entries} entries in {month} {year}">{month}</a> ({num_entries})
													      {/if}
													      </li>
													    {/months}
														</ul>
													</li>
												{if year_count == total_years}</ul>{/if}
											{/exp:low_yearly_archives}
											<hr />
											{exp:search:simple_form channel="blog" result_page="blog/results/" results="2" search_in="everywhere" status="open" where="any"}
												<input type="text" name="keywords" class="search" placeholder="SEARCH"/>
												<input type="submit" class="search" name="submit" value="&gt;" />
											{/exp:search:simple_form}
