					<!-- footer -->
					<div id="footer">
						<!-- socials navigation -->
						<ul class="nav-socials">
							<li><a class="facebook" href="{facebook_url}">Facebook</a></li>
							<li><a class="twitter" href="{twitter_url}">Twitter</a></li>
						</ul>
						<!-- copyright -->
						<div class="copyright">
							<p>{exp:mah_eencode protect="yes"}{copyright}{/exp:mah_eencode}</p>
						</div>
					</div>