						<!-- navigation -->
						<ul class="navigation">
							<li><a href="{path="work/print"}">print</a></li>
							<li><a href="{path="work/video"}">video</a></li>
							<li><a href="{path="work/web"}">web</a></li>
							<li><a href="{path="work/marketing"}">marketing</a></li>
						</ul>
