		<!-- header -->
		<div id="header">
			<div class="row">
				<div class="twelvecol">
					<!-- main navigation -->
					<ul id="nav">
						<li>
							<a href="#" class="opener">WORK</a>
							<div class="slide">
								<ul>
									<li class="arrow">&gt;</li>
									<li><a href="{site_url}work/print/">PRINT</a><span> | </span></li>
									<li><a href="{site_url}work/web/">WEB</a><span> | </span></li>
									<li><a href="{site_url}work/video/">VIDEO</a><span> | </span></li>
									<li><a href="{site_url}work/marketing/">marketing</a></li>
								</ul>
							</div>
						</li>
						<li><a class="opener" href="{site_url}about/">ABOUT</a>
							<div class="slide">
								<ul>
									<li class="arrow">&gt;</li>
									<li><a href="{site_url}about/why/">THE WHY'S</a><span> | </span></li>
									<li><a href="{site_url}about/">LUX</a><span> | </span></li>
									<li><a href="{site_url}about/team/">TEAM</a><span> | </span></li>
									<li><a href="{site_url}about/clients/">CLIENTS</a><span> | </span></li>
									<li><a href="{site_url}about/endorsements/">ENDORSEMENTS</a></li>
								</ul>
							</div>
						</li>
						<li><a href="{site_url}blog/">BLOG</a></li>
						<li><a href="{site_url}contact/">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</div>
