		<script type="text/javascript" src="{site_url}themes/site_themes/default_site/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{site_url}themes/site_themes/default_site/js/jquery.main.js"></script>
		<script type="text/javascript" src="{site_url}themes/site_themes/default_site/js/css3-mediaqueries.js"></script>
