{embed="wrappers/blog"}

{exp:stash:set name="title"}Blog{/exp:stash:set}

{exp:stash:set name="content"}
{exp:channel:entries channel='blog' disable="member_fields" status="open" paginate="bottom" limit="2"}
		<div class="post-container">
			<div class="fourcol left-img">
				<a href="{title_permalink="/blog/view"}">
					{exp:channel_images:images entry_id="{entry_id}" field="blog_side_image"}
					{if image:no_images}{/if}
						<img src="{image:url:normal}" alt="{image:title}" />
					{/exp:channel_images:images}
				</a>
			</div>
			<div class="eightcol last body-content">
				<h2><a href="{title_permalink="/blog/view"}" >{title}</a></h2>
				<div class="meta-info">
					<span class="author">{author}</span>
					<span class="date">{entry_date format="%d %F %Y"}</span>
				</div>
				<p>{blog_excerpt}</p>
				<ul class="social-links clearfix">
					<li class="comment-btn"><a href="{title_permalink="/blog/view"}#comments"><span class="label">Comment</span> <span class="count">{comment_total}</span></a></li>
					<li class="twitter-btn"><a href="#" class="tweet" data-url="{title_permalink="/blog/view"}" data-via="JoelBesada" data-hashtags="cool" data-id="#tw-count{count}"><span class="label">Tweet</span></a> <span class="count tw-count" id="tw-count{count}">0</span></li>
					<li class="facebook-btn"><div class="fcbk" data-url="{title_permalink="/blog/view"}" data-id="#fb-count{count}"><span class="label">Share</span> <span class="count fb-count" id="fb-count{count}">0</span></div></li>
					<li class="email-btn"><a href="#" class="label" onclick="sendMail(); return false" >Email</a></li>
				</ul>
			</div>
		</div>
		{paginate}
		{pagination_links}
		<ul class="pagination">
			{previous_page}
       <li><a href="{pagination_url}">Previous Page</a></li>
      {/previous_page}
      {page}
			<li><a href="{pagination_url}">{pagination_page_number}</a></li>
			{/page}
			{next_page}
			<li class="last"><a href="{pagination_url}">Next Page</a></li>
			{/next_page}
		</ul>
		{/pagination_links}
		{/paginate}
{/exp:channel:entries}		
{/exp:stash:set}