{embed="wrappers/blog"}

{exp:stash:set name="title"}Blog{/exp:stash:set}

{exp:stash:set name="content"}
{exp:search:search_results paginate="bottom"}
		<div class="post-container">
			<div class="fourcol left-img">
				<a href="{auto_path}">
					{exp:channel_images:images entry_id="{entry_id}" field="blog_side_image"}
					{if image:no_images}{/if}
						<img src="{image:url:normal}" alt="{image:title}" />
					{/exp:channel_images:images}
				</a>
			</div>
			<div class="eightcol last body-content">
				<h2><a href="{auto_path}" >{title}</a></h2>
				<div class="meta-info">
					<span class="author">{author}</span>
					<span class="date">{entry_date format="%d %F %Y"}</span>
				</div>
				<p>{blog_excerpt}</p>
			</div>
		</div>
		{paginate}
		{pagination_links}
		<ul class="pagination">
			{previous_page}
       <li><a href="{pagination_url}">Previous Page</a></li>
      {/previous_page}
      {page}
			<li><a href="{pagination_url}">{pagination_page_number}</a></li>
			{/page}
			{next_page}
			<li class="last"><a href="{pagination_url}">Next Page</a></li>
			{/next_page}
		</ul>
		{/pagination_links}
		{/paginate}
{/exp:search:search_results}		
{/exp:stash:set}