{embed="wrappers/blog"}


{exp:stash:set name="title"}Subscribe to Blog{/exp:stash:set}

{exp:stash:set name="content"}

<div class="post bkgd subscribe clearfix">
	<div class="twelvecol body-content">
		<h2>Subscribe to blog updates</h2>
		{exp:mailinglist:form list="default" form_class="subscribe-form"}
			<label for="name">Your Name</label>
			<input type="text" name="name" />
			<label for="email">Your Email</label>
			<input type="text"name="email" />
			<input type="submit" name="submit" value="Subscribe" />
		{/exp:mailinglist:form}
	</div>
</div>

{/exp:stash:set}
{!-- End content area --}
