{embed="wrappers/blog"}

{exp:channel:entries channel='blog' disable="member_fields" status="open" dynamic="yes" require_entry="yes"}

	{exp:stash:set name="title"}{title}{/exp:stash:set}
	{exp:stash:set name="url"}{title_permalink="/blog/view"}{/exp:stash:set}
	{exp:channel_images:images entry_id="{entry_id}" field="blog_side_image"}
		{if image:no_images}{/if}
		{exp:stash:set name="main_image"}
			<img src="{image:url:normal}" alt="{image:title}" />
		{/exp:stash:set}
		{exp:stash:set name="main_image_url"}{image:url:normal}{/exp:stash:set}
	{/exp:channel_images:images}

	{exp:stash:set name="content"}

	<div class="post bkgd clearfix">
		<div class="post-container">
			<div class="fourcol left-img">
				{exp:stash:get name="main_image"}
			</div>
			<div class="eightcol last body-content">
				<h2>{title}</h2>
				<div class="meta-info">
					<span class="author">{author}</span>
					<span class="date">{entry_date format="%d %F %Y"}</span>
				</div>
				{blog_body}
				
				<ul class="social-links clearfix">
					<li class="comment-btn"><span class="label">Comment</span> <span class="count">{comment_total}</span></li>
					<li class="twitter-btn"><a href="#" class="tweet" data-url="{title_permalink="/blog/view"}" data-text="Read {title} at Lux Creative." data-hashtags="{exp:tagger:tags entry_id="{entry_id}"}{tagger:tag_name}{if tagger:count != tagger:total_tags},{/if}{/exp:tagger:tags}"><span class="label">Tweet</span></a> <span class="count tw-count">0</span></li>
					<li class="facebook-btn"><a href="http://www.facebook.com/sharer.php?u={title_permalink="/blog/view"}" class="fcbk" data-url="{title_permalink="/blog/view"}" target="_blank"><span class="label">Share</span></a> <span class="count fb-count">0</span></li>
					<li class="print-btn"><a href="javascript:window.print()" class="label">Print</a></li>
					<li class="email-btn"><a href="#" class="label" onclick="sendMail(); return false" >Email</a></li>
				</ul>
				{exp:stash:get name="comments"}
				</div>
			</div>
		</div>
	</div>

	{/exp:stash:set}
{/exp:channel:entries}
{!-- End content area --}


{exp:stash:set name="comments"}
	<a href="#" name="comments"></a>
	
	{exp:comment:entries sort="asc" limit="100"}
	<div class="comment-container">
		<div class="name">{author}</div>
		<div class="comment">
			{comment}
		</div>
	</div>
	{/exp:comment:entries}
	<a href="#" id="add-comment-btn">Add Comment</a>
	<div class="comment-form">
	{exp:comment:form}
		<form>
			<label for="name">Your Name</label>
			<input type="text" name="name" value="{name}" />
			<label for="email">Your Email</label>
			<input type="text" name="email" value="{email}"/>
			<label for="comment">Your Comment</label>
			<textarea name="comment" rows="10"></textarea>
			{if captcha}
				<label for="captcha">Please enter the word you see in the image below:</label>
				{captcha}<br />
				<input type="text" name="captcha" value="{captcha_word}" maxlength="20" />
			{/if}			
        <input type="submit" name="submit" label="Post Comment" />
		  <label class="screen-reader" for="honeepot">Don't put anything here</label>
		  <input class="screen-reader" type="text" name="honeepot" id="honeepot" />
	</form>
	{/exp:comment:form}
{/exp:stash:set}
{!-- End comment section --}


{exp:stash:set name="fb_opengraph"}
<meta property="og:title" content="{exp:stash:get name="title"}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{exp:stash:get name="url"}"/>
<meta property="og:image" content="{exp:stash:get name="main_image_url"}"/>
<meta property="og:site_name" content="{site_name}"/>
<meta property="og:description" content=""/>
<meta property="fb:app_id" content="[YOUR_APP_ID]" />
{/exp:stash:set}
