{embed="wrappers/internal"}


	{exp:stash:set name="title"}404{/exp:stash:set}

	{exp:stash:set name="content"}
			<div class="threecol left-img">
			</div>
			<div class="sixcol body-content">
				<h2>404 Page not found</h2>
			</div>
	{/exp:stash:set}

