{embed="wrappers/default"}

{exp:stash:set name="content"}

						<!-- main image -->
						<div class="image">
							<img src="{design_url}logo-large.png" alt="{site_name}" />
						</div>
						<!-- intro -->
						<div class="intro">
							{exp:mah_eencode protect="yes"}{homepage_intro}{/exp:mah_eencode}
						</div>
						{footer_nav}

{/exp:stash:set}