/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
/* general reset */
body {
	margin: 0;
	min-width: 320px;
	font: 14px/20px Arial, Helvetica, sans-serif;
	color: #9b9691;
	-webkit-text-size-adjust: 100%;
}
body.blog {
	background: none;
}
input[type=text], input[type=password], input[type=file], textarea{
	-webkit-appearance:none; 
	border-radius:0;
	font-family: "camingodos-web",sans-serif;
}
input[type=submit] {
	-webkit-border-radius:0;
	-webkit-appearance: none;
}
img {border-style: none;}
a {
	text-decoration: none;
	color: #be7a29;
}
a:hover {text-decoration: underline;}
a:active {background: transparent;}
p{margin-bottom: 10px;}
.hidden {
	display: none;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    }

.clearfix {
   *display: inline-block;
   _height: 1%;
}
.row {
	overflow: visible;
	min-width: 0;
}
.row:after {
	content: "";
	display: block;
	clear: both;
}
.pull-left {float: left;}
.pull-right {float: right;}
.screen-reader {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;	
}
/* header */
#header {
	margin: 0 0 31px;
	background-color: #9f9b91;
	height: 75px;
}
/* main navigation */
#nav {
	margin: 0;
	padding: 25px 52px;
	height: 1%;
	list-style: none;
}
#nav:after {
	content: "";
	display: block;
	clear: both;
}
#nav li {
	float: left;
	margin: 0 50px 0 0;
	line-height: 25px;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
}
#nav li a {
	float: left;
	color: #ffffff;
}
#nav li.active a {text-decoration: underline;}
#nav .arrow {
	margin: 0 22px;
	color: #fff;
	font-size: 19px;
	line-height: 18px;
}
#nav ul {
	display: none;
	float: left;
	margin: 0; 
 	padding: 2px 0 1px;
	list-style: none;
}
#nav li:hover ul {display: block;}
#nav ul li {
	margin: 0 9px 0 0;
	line-height: 22px;
	font-size: 14px;
	letter-spacing: 3px;
}
#nav ul li a {
	color: #d6ccc4;
	margin-right: 9px;
}
#nav li.active ul li a {text-decoration: none;}
#nav li.active ul li a:hover {text-decoration: underline;}
/* content */
/* #content {min-height: 847px;} */
/* main navigation */
.image {
	margin: 0 auto 41px;
	padding: 39px 116px 0 100px;
	max-width: 940px;
}
.image img {
	display: block;
	width: 100%;
}
/* intro */
.intro {
	margin: 0 auto;
	padding: 0 0 32px;
	max-width: 484px;
}
.intro p {margin: 0 0 20px;}
/* navigation */
.navigation {
	margin: 0 auto 70px;
	padding: 0;
	max-width: 940px;
	list-style: none;
	text-align: center;
}
.navigation li {
	display: inline;
	margin: 0 23px 0 22px;
	line-height: 25px;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.navigation li.active a {text-decoration: underline;}
/* project */
.project {
	position: relative;
	margin: 0 0 35px;
	padding: 0 0 0 11px;
	height: 1%;
/* 	min-height: 562px; */
/* 	max-height: 803px; */
}
.project:after {
	content: "";
	display: block;
	clear: both;
}
.project .logo {
	position: absolute;
	top: -16px;
	right: -4px;
	overflow: hidden;
	width: 207px;
	height: 109px;
	text-indent: -9999px;
	background: url({site_url}themes/site_themes/default_site/design_images/logo.png) no-repeat;
}
.project .logo img {
	display: block;
	width: 100%;
}
.project .visual {
	float: left;
	margin: 0 40px 0 0;
	width: 58.70%;
}
.project .visual img {
	display: block;
	width: 100%;
}
.project .txt {
	overflow: hidden;
	padding: 195px 0 55px;
	height: 1%;
	max-height: 487px;
}
.project .txt h2 {
	margin: 0 0 19px;
	line-height: 20px;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #be7a29;
}
.project .txt p {margin: 0 0 20px;}
.project .txt.index {
	padding-top: 160px;
}
.project .holder {
/* 	max-height: 785px; */
/* 	padding-bottom: 80px; */
}
/*
.project.detail .body-content {
	height: 600px;
	overflow: hidden;
}
*/
.body-content .orange-highlight {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #BE7A29;
	display: inline;
}
.body-content .column p {
	padding-right: 3%; 
}
.project.detail h2,
.project.detail h3 {
	font-weight: normal;
	text-transform: uppercase;
	color: #be7a29;
	letter-spacing: 0.05em;
}
.project.detail h2 {
	font-size: 42px;
	line-height: 44px;
	margin-bottom: 35px;
}
.project.detail h3 {
	font-size: 24px;
	line-height: 26px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.secondary-nav {
	list-style: none;
}
.secondary-nav li {
	float: left;
	width: 23%;
	text-align: center;
	text-transform: uppercase; 
	padding-right: 1%;
	margin-right: 1%;
	border-right: solid 1px #9b9691;	
	margin-top: 0.95%;
}
.secondary-nav li.end {
	padding-right: 0;
	margin-right: 0; 
	border: none;
}
.secondary-nav .title {
	color: #BE7A29;
  font-size: 24px;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.secondary-nav hr {
	display: none;
}
.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.js-video.vimeo {
  padding-top: 0;
}
.js-video.widescreen {
  padding-bottom: 57.25%;
}
.js-video embed,
.js-video iframe,
.js-video object,
.js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.video-links {
	width: 100%;
	margin-bottom: 50px;
}
.view-times {
	float: right;
}
/* blog */
.blog .project {
	max-height: none;
}
.blog .project.detail .body-content {
	height: auto;
	margin-bottom: 50px;
}
.blog .project.detail h2 {
	margin-bottom: 10px;
}
.blog .author,
.blog .date {
	font-size: 19px;
	line-height: 26px;
	text-transform: uppercase;
}
.blog .author {
	margin-right: 35px
}
.blog .date {
	color: #be7a29;
}
.blog .meta-info {
	margin-bottom: 35px;
}
.blog .bkgd {
	background-color: #e8e8e8;
}
.blog .post-container {
	padding: 3%;
}
.blog #accordion {
	display: none;
}
#add-comment-btn {
  background-color: #9B9A9A;
  color: #ffffff;
  display: block;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.post.subscribe {
	padding: 2.75%;
}
.comment-form,
.subscribe-form {
	display: block;
  width: 97%;
  background-color: #F9F9F9;
  padding: 2.72%;	
}
.subscribe-form {
	width: 70%;
	background-color: transparent;
}
.comment-form label,
.comment-form input,
.comment-form textarea,
.subscribe-form label {
  margin-bottom: 10px;
}
.subscribe-form input {
	margin-bottom: 15px;
}
.comment-form label,
.subscribe-form label {
	display: block;
	text-transform: uppercase;
  width: 97%;	
}
.comment-form input,
.comment-form textarea,
.subscribe-form label,
.subscribe-form input {
	background: none repeat scroll 0 0 #E8E8E8;
	border: none;
	padding: 5px 4%;
  width: 89%;	
  font-size: 19px;
  color: #9B9691;
}
.subscribe-form label {
	width: 100%;
}
.comment-form input[type="text"],
.subscribe-form input[type="text"] {
	height: 25px;
}
.comment-form input[type="submit"],
.subscribe-form input[type="submit"] {
  background-color: #9B9A9A;
  border: medium none;
  color: #FFFFFF;
  font-size: 14px;
  padding: 2% 5%;
  width: 97%;
  text-transform: uppercase;
}
.subscribe-form input {
	background-color: #F9F9F9;
}
.subscribe-form input[type="submit"] {
	font-size: 19px;
}
.pagination {
	list-style: none;
	display: inline-block;
	width: 100%;
	color: #ffffff;
	text-align: center
}
.pagination li {
	padding: 0.5% 1%;
	display: inline;
	background: #9B9A9A;
	margin-right: 1%;
}
.pagination li a {
	color: #ffffff;
}
.pagination li.last {
	margin-right: 0;
}
.social-links {
	margin: 50px 0 35px;
	list-style: none;
	text-transform: uppercase;
}
.comment-btn,
.twitter-btn,
.facebook-btn,
.print-btn,
.email-btn {
	height: 28px;
	color: #ffffff;
	float: left;
	margin: 0 2.72% 15px 0;
	display: inline-block;
}
.comment-btn a:hover span,
.twitter-btn a:hover span,
.facebook-btn a:hover span {
	text-decoration: underline;
}
.label {
	background-color: #BE7A29;
	padding: 5px 10px;
	color: #ffffff;
}
.count {
	background-color: #9b9a9a;
	padding: 5px 10px;
	color: #ffffff;
	margin-left: -4px;
}
.twitter-btn .label {
	background: url({site_url}themes/site_themes/default_site/design_images/twitter_icon.png) 5px no-repeat #be7a29;
	padding-left: 25px;
}
.facebook-btn .label {
	background: url({site_url}themes/site_themes/default_site/design_images/facebook_icon.png) 5px no-repeat #be7a29;
	padding-left: 25px;
}
.comment-container {
	width: 100%;
	margin-bottom: 40px;
}
.comment-container .name {
	background-color: #9b9a9a;
	text-transform: uppercase;
	padding: 2.72%;
	color: #ffffff;
	font-size: 22px;
}
.comment-container .comment {
	padding: 2.72%;
	background-color: #f9f9f9;
}
.sidebar {
	margin-top: 160px;
}
.subscribe-btn {
	width: 92%;
	background-color: #be7a29;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-size: 19px;
	padding: 2% 4%;
}
.cat-list,
.archive-list {
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding: 0;
}
.cat-list {
	margin-top: 40px;
	font-size: 22px;
}
.cat-list li,
.archive-list li {
	margin-bottom: 10px;
}
.cat-list li a,
.archive-list li a {
	font-size: 19px;
	line-height: 21px;
}
.archive-list ul {
	margin: 20px 0;
	padding: 0;
	list-style: none;
	font-size: 17px;
	color: #9b9a9a;
}
.archive-list ul li {
	margin-left: 15px;
}
.archive-list ul li a {
	font-size: 17px;
	color: #9b9a9a;
}
.sidebar hr {
	margin: 30px 0;
	color: #9b9691;
	border: 1px solid #9b9691;
	background-color: #9b9691; 
}
input[type="text"].search,
input[type="submit"].search {
	border: none;
	background: #e8e8e8;
	padding: 5px 4%;
	font-size: 19px;
	display: block;
	float: left;
	color: #9b9691;
}
input[type="text"].search {
	width: 70%;
	height: 25px;
	margin-right: 2%;
}
input[type="submit"].search {
	height: 35px;
	padding-top: 0;
}
/* project navigation */
.nav-project {
	position: absolute;
	right: 0;
	bottom: -3px;
	margin: 0;
	padding: 0;
	list-style: none;
	max-width: 41%;
	text-align: center; 
}
.nav-project li {
	display: inline-block;
	margin: 0 -4px 0 0;
	padding: 0 14px 0 15px;
	line-height: 20px;
	font-size: 11px;
	text-transform: uppercase;
	background: url({site_url}themes/site_themes/default_site/design_images/sprite.png) no-repeat -60px -75px;
}
.nav-project li:first-child {background: none;}
.nav-project li a {color: #9d9892;}
.nav-project li.active a {text-decoration: underline;}
/* carousel */
.carousel,
.team-container,
.secondary-nav-container {
	position: relative;
	margin: 0 -28px;
	overflow: hidden;
	max-width: 1156px;
	padding: 25px 48px;
	height: 200px;
/* 	background-color: #f1ebe7; */
}
.carousel .mask {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.carousel .slideset {
	float: left;
	width: 99999px;
}
.carousel .slide {float: left;}
.carousel .btn-prev-container {
  height: 100%;
  left: 15px;
  position: absolute;
  top: 0;
  width: 30px;
}
.carousel .btn-prev {
	position: absolute;
	z-index: 5;
	top: 116px;
	left: 10px;
	overflow: hidden;
	width: 10px;
	height: 13px;
	text-indent: -9999px;
	background: url({site_url}themes/site_themes/default_site/design_images/sprite.png) no-repeat -20px 0;
}
.carousel .btn-next-container {
  height: 100%;
  right: 15px;
  position: absolute;
  top: 0;
  width: 30px;
}
.carousel .btn-next {
	position: absolute;
	z-index: 5;
	top: 116px;
	right: 10px;
	overflow: hidden;
	width: 10px;
	height: 13px;
	text-indent: -9999px;
	background: url({site_url}themes/site_themes/default_site/design_images/sprite.png) no-repeat;
}
.carousel .holder {
	float: left;
	overflow: hidden;
	width: 220px;
	height: 200px;
}
.carousel .frame {
	display: table;
	width: 100%;
	height: 200px;
}
.carousel .box {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}
.carousel .box img {vertical-align: top;}
.team {
	display: inline-block;
}
.team li {
	float: left;
	margin-right: 10px;
	list-style: none;
	height: 140px;
	display: block;
}
/* footer */
#footer {
	margin-top: 35px;
	padding: 14px 0 50px 50%;
}
/* socials navigation */
.nav-socials {
	float: left;
	margin: 0 0 0 -32px;
	padding: 0;
	width: 56px;
	list-style: none;
}
.nav-socials li {
	float: left;
	margin: 0 2px;
}
.nav-socials li a {
	display: block;
	overflow: hidden;
	width: 24px;
	height: 22px;
	text-indent: -9999px;
}
.nav-socials li a.facebook {background: url({site_url}themes/site_themes/default_site/design_images/sprite.png) no-repeat 0 -20px;}
.nav-socials li a.twitter {background: url({site_url}themes/site_themes/default_site/design_images/sprite.png) no-repeat -30px -20px;}
/* copyright */
.copyright {
	padding: 1px 0 0 51px;
	line-height: 20px;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.copyright p {margin: 0 0 20px;}
@media only screen and (max-width: 1212px) {.carousel, .team-container, .secondary-nav-container {margin: 0 -27px;}}
@media only screen and (max-width: 1210px) {.carousel, .team-container, .secondary-nav-container {margin: 0 -26px;}}
@media only screen and (max-width: 1208px) {.carousel, .team-container, .secondary-nav-container {margin: 0 -25px;}}
@media only screen and (max-width: 1206px) {.carousel, .team-container, .secondary-nav-container {margin: 0 -24px;}}
@media only screen and (max-width: 1204px) {.carousel, .team-container, .secondary-nav-container {margin: 0 -23px;}}
@media only screen and (max-width: 1202px) {.carousel, .team-container, .secondary-nav-container {margin: 0 -22px;}}
@media only screen and (max-width: 1200px) {
	.image {
		padding-top: 74px;
	}
	#header {
		margin-bottom: 66px;
	}
	.project .logo {
		top: 0px;
	}
	.logo-up .logo-container {height: 65px;}
	.logo-up .logo {top: -45px;}
	.carousel, 
	.team-container, 
	.secondary-nav-container {
		margin: 0 -21px;
	}

	#nav ul {
		display: none;
		position: absolute;
		top: 20px;
		left: 0;
		float: none;
		list-style: none;
		margin: 0;
		padding: 35px 0 0;
		width: 510px;
		background: none;
		height: 40px;
	}
	#nav .arrow {
		display: none;
	}
	#footer {
		margin-top: 35px;
	}
}
@media only screen and (max-width: 1198px) {
	.carousel, .team-container, .secondary-nav-container {margin: 0 -20px;}
}
@media only screen and (max-width: 1024px) {
	#header {height: 65px;}
	#nav {padding: 17px 42px 8px;}
	#content {min-height: 657px;}
	.image {
		margin: 0 auto 30px;
		padding: 56px 132px 0 117px;
	}
	.intro {
		padding: 0 0 16px;
		max-width: 478px;
	}
	.navigation {margin: 0 auto 53px;}
	.project {
		margin: 0 auto 22px;
		padding: 1px 0 0;
		max-width: 876px;
		max-height: 625px;
	}
	.project .logo {
		right: 22px;
	}
	.project .visual {
		margin: 0 22px 0 0;
		width: 63.1%;
	}
	.project.detail .body-container {
		height: 450px;
	}
	.project .txt.index {
		max-height: 400px;
	}
	.project .holder {
		max-height: 569px;
	}
	.project .txt {
		max-height: 306px;
	}
	.nav-project {
		right: 0;
		bottom: -6px;
		margin: 0;
		max-width: 34%;
		text-align: center;
	}
	.nav-project li {
		display: inline;
		float: none;
		padding: 0 12px 0 13px;
		line-height: 19px;
		font-size: 11px;
		background: url({site_url}themes/site_themes/default_site/design_images/sprite.png) no-repeat -60px -78px;
	}
	.carousel,
	.secondary-nav-container {
		position: relative;
		margin: 0 auto;
		overflow: hidden;
		padding: 5px 41px;
		max-width: 840px;
		height: 155px;
	}
	.carousel .btn-prev {
		top: 76px;
		left: 10px;
/* 		left: 33px; */
		width: 8px;
		height: 10px;
		background: url({site_url}themes/site_themes/default_site/design_images/sprite.png) no-repeat -60px 0;
	}
	.carousel .btn-next {
		top: 76px;
		right: 10px;
/* 		right: 33px; */
		width: 8px;
		height: 10px;
		background: url({site_url}themes/site_themes/default_site/design_images/sprite.png) no-repeat -40px 0;
	}
	.carousel .holder {
		width: 168px;
		height: 155px;
	}
	.carousel .frame {height: 155px;}
	.carousel .box img,
	.secondary-nav li img {
		width: 75%;
	}
	.team-container {
		margin: 0 auto;
		width: 824px;
	}
	.secondary-nav .title {
		margin-bottom: 10px;
	}
	.secondary-nav li {
		margin-top: 1.5%;
	}
	.secondary-nav li img {
		max-width: 130px;
	}
	#footer {padding: 24px 0 50px 50%;}
	.nav-socials {margin: 0 0 0 -26px;}
	.copyright {padding: 1px 0 0 57px;}
}
@media only screen and (max-width: 991px) {
	body {background: #fff;}
	.container, #header {padding: 0 17px;}
	#nav {padding: 17px 3px 8px;}
	#nav ul {
		display: none;
		position: absolute;
		top: 20px;
		left: 0;
		float: none;
		margin: 0;
		padding: 29px 0 0;
		width: 400px;
		background: none;
	}
	#nav li:hover {position: relative;}
	#nav li:hover ul {display: block;}
	#content {min-height: 0;}
	.image {
		margin: 0 auto 19px;
		padding: 35px 74px 0 53px;
	}
	.intro {
		padding: 0 0 7px;
		max-width: 468px;
	}
	.navigation {margin: 0 auto 46px;}
	.navigation li {margin: 0 17px 0 27px;}
	.blog .logo-container {height: 100px;}
	.project {
		margin: 0 auto 35px;
		padding: 0 4px;
		max-height: none;
		min-height: none;
	}
	.project .holder {
	}
	.project .logo {
		right: 34px;
	}
	.project .visual {
		margin: 0 18px 0 0;
		width: 62%;
	}
	.project .txt {padding: 47px 0 55px;}
	.project .holder {
		margin: 0 0 35px;
		width: 100%;
		max-height: none;
		padding-bottom: 0;
	}
	.project .holder:after {
		content: "";
		display: block;
		clear: both;
	}
	.project.detail .row {
		margin-top: 30px;
	}
	.project.detail .body-content {
		height: auto;
	}
	.project .txt.index {
		padding-top: 200px;
		max-height: none;
	}
	.project .txt {
		max-height: none;
	}
	.nav-project {
		position: static;
		right: auto;
		bottom: auto;
		margin: 0;
		padding: 0 0 0 22px;
		max-width: 100%;
		text-align: center;
	}
	.carousel {
		margin: 0 -17px;
		max-width: 1000px;
		width: auto;
	}
	.team-container {
		background: none;
		width: auto;
		height: auto;
		overflow: auto;
		margin: 0;
		padding: 0;
	}
	.team li {
/* 		height: 98px; */
		margin-bottom: 10px;	
	}
	.team img {
		max-width: 115px;
	}
	.secondary-nav-container {
		max-width: 990px;
		margin: 0 -17px;
	}
	.secondary-nav li {
		margin-top: 1.3%;	
	}
.sidebar {
	margin-top: 60px;
}
	#footer {padding: 10px 0 20px;}
	.nav-socials {
		float: none;
		margin: 0 auto 14px;
		overflow: hidden;
	}
	.copyright {
		float: none;
		padding: 1px 0;
		line-height: 9px;
		font-size: 8px;
		text-align: center;
	}
}
@media only screen and (max-width: 860px) {
	input[type="text"].search {
		width: 65%;
	}
}
@media only screen and (max-width: 768px) {
	.logo-up .logo-container {height: auto;}
	.logo-up .logo {top: 0;}
	.carousel,
	.secondary-nav-container {
		margin: 0 -17px 12px;
		padding: 0 39px;
/* 		background: url({site_url}themes/site_themes/default_site/design_images/bg-carousel3.png) no-repeat 50% 0; */
	}
	.carousel .holder {width: 138px;}
	.carousel .btn-prev {
		top: 71px;
		left: 10px;
/* 		left: 23px; */
	}
	.carousel .btn-next {
		top: 71px;
		right: 10px;
/* 		right: 23px; */
	}	
	.secondary-nav-container {
		margin-top: 21px;
	}
	.secondary-nav .title {
		font-size: 18px;
	}
}
@media only screen and (max-width: 767px) {
	#header {height: 55px;}
	.container {padding: 0;}
	.row .twelvecol {padding: 0 15px;}
	#nav {padding: 15px 0 8px;}
	#nav li {
		margin: 0 18px 0 25px;
		line-height: 20px;
		font-size: 17px;
	}
	#nav ul {top: 17px;}
	#nav ul li {
		margin: 0 15px 0 0;
		line-height: 15px;
		font-size: 12px;
	}
	.image {
		margin: 0 auto 39px;
		padding: 9px 3px 0 7px;
	}
	.intro {padding: 0 25px 12px;}
	.navigation {display: none;}
	.project {
		margin: 0;
		padding: 16px 0 0;
	}
	.project.detail {
		margin: 0 auto 35px;
	}
	.project .holder {margin: 0;}
	.project .logo {
		display: block;
		position: static;
		top: auto;
		right: auto;
		margin: 0 auto 33px;
	}
	.project .txt.index {
		padding-top: 50px;
	}
	.project .visual {
		float: none;
		margin: 0 0 29px;
		width: auto;
		max-width: 450px;
	}
	.project .txt {
		padding: 0 27px 32px;
		min-height: 200px;
	}
	.project .left-img img {
		margin: 0 auto 35px;
		display: block;
	}
	.nav-project {padding: 0 0 24px;}
	.nav-project li {padding: 0 8px 0 9px;}
	.carousel {
		margin: 0 -15px 20px;
		padding: 5px 54px;
		height: 156px;
/* 		background: url({site_url}themes/site_themes/default_site/design_images/bg-carousel4.png) no-repeat; */
	}
	.carousel .holder {width: 124px;}
	.carousel .btn-prev {
		top: 73px;
		left: 10px;
/* 		left: 43px; */
	}
	.carousel .btn-next {
		top: 73px;
		right: 10px;
/* 		right: 43px; */
	}
	.carousel .box img {width: 90%;}
	.blog #accordion {
		display: block;
		margin-bottom: 35px;
	}
	.blog .author,
	.blog .date {
		display: block;
		width: 100%;
	}
	.sidebar {
		display: none;
	}
	.sidebar.top {
		padding: 3%;
		margin: 50px 0 75px;
	}
	.social-links {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 650px) {
	.secondary-nav-container {
		background:  none;
		height: auto;
	}
	.secondary-nav li {
		border-right: none;
		width: 100%;
	}
	.secondary-nav hr {
		display: block;
		width: 60%;
		color: #9b9691;
		text-align: center;
	}
	.secondary-nav img {
		display: none;
	}
	.pagination li {
		padding: 1% 1.5%;
		margin-right: 2%;
	}
}
@media only screen and (min-width: 480px) {
	#nav .slide {
		float: left;
		position: static !important;
		top: auto !important;
		left: auto !important;
		width: auto !important;
	}
}
@media only screen and (max-width: 479px) {
	.row .twelvecol {padding: 0 10px;}
	#header {
		margin: 0 0 16px;
		height: auto;
		background: none;
	}
	#nav {padding: 25px 31px 8px;}
	#nav li {
		margin: 0;
		padding: 0 0 12px;
		float: none;
	}
	#nav li span {
		display: none;
	}
	#nav li a {
		float: none;
		color: #be7a29;
	}
	#nav ul {
		display: block;
		position: static;
		top: auto;
		left: auto;
		float: none;
		padding: 16px 0 2px 1px;
		width: auto;
		height: auto;
	}
	#nav ul li {
		float: none;
		margin: 0;
		padding: 0 0 5px;
	}
	#nav ul li a {
		color: #9b9690;
	}
	.image {
		margin: 0 auto 25px;
		padding: 0 4px 0 2px;
	}
	.intro {padding: 0 16px 6px;}
	#footer {padding: 10px 70px;}
	.nav-socials {margin: 0 auto 12px;}
	.copyright {
		padding: 0;
		line-height: 14px;
		font-size: 8px;
	}
	.project {padding: 3px 0 0;}
	.project .visual {
		margin: 0 0 33px;
		padding: 0 1px;
	}
	.project .logo {margin: 0 auto 31px;}
	.project .txt {
		padding: 0 15px 30px;
		min-height: 66px;
	}
	.nav-project {padding: 0 0 21px;}
	.nav-project li {line-height: 18px;}
	.carousel {
		margin: 0 -10px 20px;
		padding: 3px 50px;
		height: 155px;
/* 		background: url({site_url}themes/site_themes/default_site/design_images/bg-carousel5.png) no-repeat; */
	}
	.carousel .holder {width: 110px;}
	.carousel .btn-prev {left: 10px;}
	.carousel .btn-next {right: 10px;}
/*
	.carousel .btn-prev {left: 39px;}
	.carousel .btn-next {right: 39px;}
*/
}