		<!-- carousel -->
		<div class="carousel">
			<div class="mask">
				<div class="slideset">
				{exp:switchee variable="{segment_3}" parse="inward"}
					{case value="category"}
						{exp:channel:entries category='{embed:cat_id}' disable="category_fields|custom_fields|member_fields|pagination" status="open"}
							
							<div class="slide">
								<div class="holder">
									<div class="frame">
										<div class="box">
										<a href="{title_permalink="work/{segment_2}/category/{segment_4}"}">
										{exp:channel_images:images entry_id="{entry_id}" limit="1" channel="{segment_2}" field="other_image|video_screenshot"}
										<img src="{image:url:small}" alt="{image:title}" />
										{/exp:channel_images:images}
										</a>
										</div>
									</div>
								</div>
							</div>
							
							{/exp:channel:entries}
					{/case}
					{case value="" default="Yes"}
						{exp:channel:entries channel='{segment_2}' disable="categories|category_fields|custom_fields|member_fields|pagination" status="open" dynamic="no"}
							
							<div class="slide">
								<div class="holder">
									<div class="frame">
										<div class="box">
										<a href="{title_permalink="work/{segment_2}"}">
										{exp:channel_images:images entry_id="{entry_id}" limit="1" channel="{segment_2}" field="other_image|video_screenshot"}
										<img src="{image:url:small}" alt="{image:title}" />
										{/exp:channel_images:images}
										</a>
										</div>
									</div>
								</div>
							</div>
							
							{/exp:channel:entries}
							{/case}
				{/exp:switchee}
				</div>
			</div>
			
			<div class="btn-prev-container"><a class="btn-prev" href="#">Previous</a></div>
			<div class="btn-next-container"><a class="btn-next" href="#">Next</a></div>
		</div>