								<!-- project navigation -->
								<ul class="nav-project">
{!--}									{exp:channel:categories channel="{embed:channel}" parent_only="yes" style="linear"}
										{exp:switchee variable="{segment_4}" parse="inward"}
											{case value="{category_url_title}"}
												<li class="active"><a href="{path="work/{embed:page}/category/{category_url_title}}">{category_name}</a></li>
											{/case}
											{case default="yes"}
												<li><a href="{path="work/{embed:page}/category/{category_url_title}}">{category_name}</a></li>
											{/case}
										{/exp:switchee}
									{/exp:channel:categories}--}
									{exp:gwcode_categories channel="{embed:channel}" style="linear" depth="1" entry_count="yes"}
										{if entry_count > 0}
											<li{if segment_4 == "cat_url_title"} class="active"{/if}><a href="{path="work/{embed:page}/category/{cat_url_title}"}">{cat_name}</a></li>
										{/if}
									{/exp:gwcode_categories}
								</ul>
