{embed="wrappers/work"}

{exp:channel:entries channel='work' disable="categories|category_fields||member_fields|pagination" status="open" dynamic="no" limit="1"}

{exp:stash:set name="title"}{title}{/exp:stash:set}
	

	{exp:stash:set name="content"}
		<div class="project detail">
			<div class="holder">
				{body_logo}
				<div class="visual">
					{embed="embeds/work"}
				</div>
				<div class="txt index">
					<h2>{title}</h2>
					{work_body}
				</div>
			</div>
		</div>
	{/exp:stash:set}


{exp:stash:set name="secondary_nav"}
						<div class="secondary-nav-container">
							<ul class="secondary-nav clearfix">
								{exp:channel_images:images entry_id="{entry_id}" field="work_print_icon"}
							<li><a href="{path="work/print/"}"><div class="title fittext">Print</div><img src="{image:url:print}" alt="{image:title}" /></a><hr /></li>
							{/exp:channel_images:images}
							{exp:channel_images:images entry_id="{entry_id}" field="work_web_icon"}
							<li><a href="{path="work/web/"}"><span class="title fittext">Web</span><img src="{image:url:web}" alt="{image:title}" /></a><hr /></li>
							{/exp:channel_images:images}
							{exp:channel_images:images entry_id="{entry_id}" field="work_video_icon"}
							<li><a href="{path="work/video/"}"><span class="title fittext">Video</span><img src="{image:url:video}" alt="{image:title}" /></a><hr /></li>
							{/exp:channel_images:images}
							{exp:channel_images:images entry_id="{entry_id}" field="work_marketing_icon"}
							<li class="end"><a href="{path="work/marketing/"}"><span class="title fittext">Marketing</span><img src="{image:url:marketing}" alt="{image:title}" /></a><hr /></li>
							{/exp:channel_images:images}
							</ul>
						</div>
{/exp:stash:set}

{/exp:channel:entries}


{exp:stash:set name="js_links"}
	<script type="text/javascript" src="{site_url}themes/site_themes/default_site/js/jquery.fittext.js"></script>		
{/exp:stash:set}

{exp:stash:set name="js"}
	<script>
		function find_top_margin (x) {
	
	    //get the hieght of the parent  
	    var parent_height = $(x).parent().height();  
	  
	    //get the height of the image  
	    var image_height = $(x).height();  
	    
	    //calculate how far from top the image should be  
	    var top_margin = (parent_height - image_height)/2;  
	
			return top_margin;				
		}
		$(window).load(function(){
	    $('.secondary-nav').css( 'margin-top' , find_top_margin ('.secondary-nav'));  
		});
		$(window).resize(function() {
	    $('.secondary-nav').css( 'margin-top' , find_top_margin ('.secondary-nav'));  
		});		
	</script>
{/exp:stash:set}
