{!--{embed="wrappers/work"}


	{exp:stash:set name="title"}Marketing{/exp:stash:set}

	{exp:stash:set name="content"}
		<div class="project">
			<div class="holder">
				{body_logo}
				<div class="visual">
					{exp:channel:entries channel='marketing' limit="1" disable="categories|category_fields|member_fields|pagination" status="open"}
						{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
						{if image:no_images}{/if}
							<img src="{image:url:large}" alt="{image:title}" />
						{/exp:channel_images:images}
					{/exp:channel:entries}
				</div>
				<div class="txt index">
				{exp:channel:entries channel='marketing_landing' disable="categories|category_fields|member_fields|pagination" status="open" dynamic="no"}
					<h2>{title}</h2>
					{work_landing_body}
				{/exp:channel:entries}
				</div>
			</div>
		</div>
	{/exp:stash:set}


{exp:stash:set name="secondary_nav"}
	{carousel}
{/exp:stash:set}


{exp:stash:set name="js_links"}
	<script type="text/javascript" src="{site_url}themes/site_themes/default_site/js/jquery.fittext.js"></script>		
{/exp:stash:set}

{exp:stash:set name="js"}
	<script>
		function find_top_margin (x) {
	
	    //get the hieght of the parent  
	    var parent_height = $(x).parent().height();  
	  
	    //get the height of the image  
	    var image_height = $(x).height();  
	    
	    //calculate how far from top the image should be  
	    var top_margin = (parent_height - image_height)/2;  
	
			return top_margin;				
		}
		$(window).load(function(){
	    $('.secondary-nav').css( 'margin-top' , find_top_margin ('.secondary-nav'));  
		});
		$(window).resize(function() {
	    $('.secondary-nav').css( 'margin-top' , find_top_margin ('.secondary-nav'));  
		});		
	</script>
{/exp:stash:set}
--}
{preload_replace:channel="{segment_2}"}
{preload_replace:channel_landing="{segment_2}_landing"}
{preload_replace:page="{segment_2}"}
{exp:query sql="SELECT exp_categories.cat_id AS cat_id FROM exp_categories WHERE exp_categories.cat_url_title = '{segment_4}'"}
{preload_replace:cat_id="{cat_id}"}
{/exp:query}

{embed="wrappers/work"}

{exp:switchee variable="{segment_3}" parse="inward"}

	{case value = ""}
		{exp:stash:set name="title"}Marketing{/exp:stash:set}
	
		{exp:stash:set name="content"}
			<div class="project">
				<div class="holder">
					{body_logo}
					<div class="visual">
					{exp:channel:entries channel='{channel}' limit="1" disable="categories|category_fields|member_fields|pagination" status="open"}
						{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
						{if image:no_images}{/if}
							<img src="{image:url:large}" alt="{image:title}" />
						{/exp:channel_images:images}
					{/exp:channel:entries}
					</div>
					<div class="txt index">
					{exp:channel:entries channel='{channel_landing}' disable="categories|category_fields|member_fields|pagination" status="open" dynamic="no"}
						<h2>{title}</h2>
						{work_landing_body}
					{/exp:channel:entries}
					</div>
				</div>
				{embed="embeds/cat_nav" channel="{channel}" page="{page}"}
			</div>
		{/exp:stash:set}
		{exp:stash:set name="secondary_nav"}
			{embed="embeds/carousel"}
		{/exp:stash:set}
	{/case}

	{case value="category"}
			
			{switchee variable="{cat_id}" parse="inward"}
	
				{case value=""}
					{exp:channel:entries channel='{channel}' limit="1" disable="categories|category_fields|member_fields|pagination" status="open"}
			
						{exp:stash:set name="title"}{title}{/exp:stash:set}
					
						{exp:stash:set name="content"}
							<div class="project">
								<div class="holder">
									{body_logo}
									<div class="visual">
										{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
										{if image:no_images}{/if}
											<img src="{image:url:large}" alt="{image:title}" />
										{/exp:channel_images:images}
									</div>
									<div class="txt index">
										<h2>{title}</h2>
										{other_description}
									</div>
								</div>
								{embed="embeds/cat_nav" channel="{channel}" page="{page}"}
							</div>
						{/exp:stash:set}
						
					{/exp:channel:entries}
				{/case}

				{case default="yes"}
					{exp:channel:entries channel='{channel}' url_title="{segment_5}" limit="1" disable="member_fields|pagination" status="open"}
			
						{exp:stash:set name="title"}{title}{/exp:stash:set}
					
						{exp:stash:set name="content"}
							<div class="project">
								<div class="holder">
									{body_logo}
									<div class="visual">
										{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
										{if image:no_images}{/if}
											<img src="{image:url:large}" alt="{image:title}" />
										{/exp:channel_images:images}
									</div>
									<div class="txt index">
										<h2>{title}</h2>
										{other_description}
									</div>
								</div>
								{embed="embeds/cat_nav" channel="{channel}" page="{page}"}
							</div>
						{/exp:stash:set}
						
					{/exp:channel:entries}
				{/case}
			{/switchee}


		{exp:stash:set name="secondary_nav"}
			{exp:gwcode_categories cat_url_title="{segment_4}" style="linear"}
				{embed="embeds/carousel" cat_id="{cat_id}"}
			{/exp:gwcode_categories}
		{/exp:stash:set}
	{/case}

	{case default="Yes"}
		{exp:channel:entries channel='{channel}' limit="1" disable="categories|category_fields|member_fields|pagination" status="open"}

			{exp:stash:set name="title"}{title}{/exp:stash:set}
		
			{exp:stash:set name="content"}
				<div class="project">
					<div class="holder">
						{body_logo}
						<div class="visual">
							{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
							{if image:no_images}{/if}
								<img src="{image:url:large}" alt="{image:title}" />
							{/exp:channel_images:images}
						</div>
						<div class="txt index">
							<h2>{title}</h2>
							{other_description}
						</div>
					</div>
					<!-- project navigation -->
					{embed="embeds/cat_nav" channel="{channel}" page="{page}"}
				</div>
			{/exp:stash:set}

		{/exp:channel:entries}

		{exp:stash:set name="secondary_nav"}
				{embed="embeds/carousel"}
		{/exp:stash:set}
	{/case}
	
	
{/exp:switchee}
