{preload_replace:channel="{segment_2}"}
{preload_replace:channel_landing="{segment_2}_landing"}
{preload_replace:page="{segment_2}"}
{exp:query sql="SELECT exp_categories.cat_id AS cat_id FROM exp_categories WHERE exp_categories.cat_url_title = '{segment_4}'"}
{preload_replace:cat_id="{cat_id}"}
{/exp:query}

{embed="wrappers/work"}

{exp:switchee variable="{segment_3}" parse="inward"}

	{case value = ""}
		{exp:stash:set name="title"}Print{/exp:stash:set}
	
		{exp:stash:set name="content"}
			<div class="project">
				<div class="holder">
					{body_logo}
					<div class="visual">
					{exp:channel:entries channel='{channel}' limit="1" disable="categories|category_fields|member_fields|pagination" status="open"}
						{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
						{if image:no_images}{/if}
							<img src="{image:url:large}" alt="{image:title}" />
						{/exp:channel_images:images}
					{/exp:channel:entries}
					</div>
					<div class="txt index">
					{exp:channel:entries channel='{channel_landing}' disable="categories|category_fields|member_fields|pagination" status="open" dynamic="no"}
						<h2>{title}</h2>
						{work_landing_body}
					{/exp:channel:entries}
					</div>
				</div>
				{embed="embeds/cat_nav" channel="{channel}" page="{page}"}
			</div>
		{/exp:stash:set}
		{exp:stash:set name="secondary_nav"}
			{embed="embeds/carousel"}
		{/exp:stash:set}
	{/case}

	{case value="category"}
			
			{switchee variable="{cat_id}" parse="inward"}
	
				{case value=""}
					{exp:channel:entries channel='{channel}' limit="1" disable="categories|category_fields|member_fields|pagination" status="open"}
			
						{exp:stash:set name="title"}{title}{/exp:stash:set}
					
						{exp:stash:set name="content"}
							<div class="project">
								<div class="holder">
									{body_logo}
									<div class="visual">
										{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
										{if image:no_images}{/if}
											<img src="{image:url:large}" alt="{image:title}" />
										{/exp:channel_images:images}
									</div>
									<div class="txt index">
										<h2>{title}</h2>
										{other_description}
									</div>
								</div>
								{embed="embeds/cat_nav" channel="{channel}" page="{page}"}
							</div>
						{/exp:stash:set}
						
					{/exp:channel:entries}
				{/case}

				{case default="yes"}
					{exp:channel:entries channel='{channel}' url_title="{segment_5}" limit="1" disable="member_fields|pagination" status="open"}
			
						{exp:stash:set name="title"}{title}{/exp:stash:set}
					
						{exp:stash:set name="content"}
							<div class="project">
								<div class="holder">
									{body_logo}
									<div class="visual">
										{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
										{if image:no_images}{/if}
											<img src="{image:url:large}" alt="{image:title}" />
										{/exp:channel_images:images}
									</div>
									<div class="txt index">
										<h2>{title}</h2>
										{other_description}
									</div>
								</div>
								{embed="embeds/cat_nav" channel="{channel}" page="{page}"}
							</div>
						{/exp:stash:set}
						
					{/exp:channel:entries}
				{/case}
			{/switchee}


		{exp:stash:set name="secondary_nav"}
			{exp:gwcode_categories cat_url_title="{segment_4}" style="linear"}
				{embed="embeds/carousel" cat_id="{cat_id}"}
			{/exp:gwcode_categories}
		{/exp:stash:set}
	{/case}

	{case default="Yes"}
		{exp:channel:entries channel='{channel}' limit="1" disable="categories|category_fields|member_fields|pagination" status="open"}

			{exp:stash:set name="title"}{title}{/exp:stash:set}
		
			{exp:stash:set name="content"}
				<div class="project">
					<div class="holder">
						{body_logo}
						<div class="visual">
							{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
							{if image:no_images}{/if}
								<img src="{image:url:large}" alt="{image:title}" />
							{/exp:channel_images:images}
						</div>
						<div class="txt index">
							<h2>{title}</h2>
							{other_description}
						</div>
					</div>
					<!-- project navigation -->
					{embed="embeds/cat_nav" channel="{channel}" page="{page}"}
				</div>
			{/exp:stash:set}

		{/exp:channel:entries}

		{exp:stash:set name="secondary_nav"}
				{embed="embeds/carousel"}
		{/exp:stash:set}
	{/case}
	
	
{/exp:switchee}
