{embed="wrappers/work"}

{exp:channel:entries channel='print' limit="1" disable="categories|category_fields|member_fields|pagination" status="open"}

	{exp:stash:set name="title"}{title}{/exp:stash:set}

	{exp:stash:set name="content"}
		<div class="project">
			<div class="holder">
				{body_logo}
				<div class="visual">
					{exp:channel_images:images entry_id="{entry_id}" field="other_image"}
					{if image:no_images}{/if}
						<img src="{image:url:large}" alt="{image:title}" />
					{/exp:channel_images:images}
				</div>
				<div class="txt index">
					<h2>{title}</h2>
					{other_description}
				</div>
			</div>
		</div>
	{/exp:stash:set}

{/exp:channel:entries}

{exp:stash:set name="secondary_nav"}
	{carousel}
{/exp:stash:set}


{exp:stash:set name="js_links"}
	<script type="text/javascript" src="{site_url}themes/site_themes/default_site/js/jquery.fittext.js"></script>		
{/exp:stash:set}

{exp:stash:set name="js"}
	<script>
		function find_top_margin (x) {
	
	    //get the hieght of the parent  
	    var parent_height = $(x).parent().height();  
	  
	    //get the height of the image  
	    var image_height = $(x).height();  
	    
	    //calculate how far from top the image should be  
	    var top_margin = (parent_height - image_height)/2;  
	
			return top_margin;				
		}
		$(window).load(function(){
	    $('.secondary-nav').css( 'margin-top' , find_top_margin ('.secondary-nav'));  
		});
		$(window).resize(function() {
	    $('.secondary-nav').css( 'margin-top' , find_top_margin ('.secondary-nav'));  
		});		
	</script>
{/exp:stash:set}
