{preload_replace:channel="{segment_2}"}

{embed="wrappers/work"}

{exp:channel:entries channel='clients' disable="categories|category_fields|member_fields|pagination" status="open" dynamic="no"}
	{exp:stash:set name="title"}{title}{/exp:stash:set}
	
	{exp:stash:set name="content"}
		<!-- project -->
		<div class="project">
			<div class="holder">
				<!-- logo -->
				<a class="logo" href="#">Lux Creative</a>
				<div class="visual">
					{exp:channel_videos:videos entry_id="{entry_id}" prefix="cv" embed_width="663" embed_height="373"}
					<div class="js-video vimeo widescreen">
							{cv:embed_code}
					</div>
					<div class="video-links clearfix">{if client_download_link != ""}<a href="{client_download_link}" class="download">Download Master File</a>{/if}<span class="view-times">viewed {video:views} times</span></div>
					{/exp:channel_videos:videos}
					<div class="body-content">
						{client_description}
					</div>
					{client_wufoo}
				</div>
				<div class="txt body-content">
				</div>
			</div>
		</div>
{/exp:stash:set}
{/exp:channel:entries}